body {
  background-color: #e2e4e7;
}

.black-text {
  color: #000;
}

.newsweek-logo {
  width: 132px;
  height: 20px;
}

header {
  background-color: #f72210;
  height: 50px;
}

.fa-user-alt,
.fa-bars {
  color: white;
  cursor: pointer;
}

.subscribe {
  border-radius: 30px;
}

/* MAIN SHOWCASE SECTION */
.img-fluid {
  width: 100%;
}

.featured-stories-heading {
  font-size: 22px;
  color: #000;
}

.featured-stories-p,
.by-line {
  font-size: 13px;
  color: #333;
}

.featured-stories-header,
.the-debate-heading h4,
.opnion h3,
.more-stories h3,
.my-turn-header,
.CULTURE-AND-TRAVEL {
  font-size: 16px;
  color: #03030366;
}

.featured-stories-bg-img {
  background-image: url(./images/anthony-fauci-deborah-birx-covid19-coronavirus-getty.jpg);
  background-size: cover;
  background-position: center center;
  height: 390px;
}

.featured-div-content {
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #f72210;
}

/* THE DEBATE */

.the-debate img {
  width: 63px;
  height: 63px;
}

.vs-debate {
  height: 50px;
}

.vs-sudo {
  text-align: center;
  left: 50%;
  top: -20%;
  background-color: #000;
  color: #d6d6d6;
}

.vs-sudo-hr {
  margin: 2px;
}

.the-debate-heading,
.legalizing {
  border-bottom: 3px solid grey;
}

/* OPNION */

.opnion img {
  width: 75px;
}

.opnion div {
  border-bottom: 1px solid grey;
}

.more-stories div {
  border-bottom: 1px solid grey;
}

.opnion div div {
  border-bottom: none;
}

/* More stories  */

.more-stories img {
  width: 95px;
  height: 95px;
}

.more-stories div div {
  border-bottom: none;
}

/* thedebate */
.the-debate-heading h4 {
  font-size: 16px;
}

.sub-sec h4,
.news-section h4 {
  color: #f72210;
  font-size: 16px;
}

.more-stories > div h4 {
  font-size: 17px;
}

.my-turn p {
  color: #03030380;
  font-weight: 700;
}

.magazine-section p,
.editors-pick p {
  font-size: 19px;
  color: #333;
}

.more-stories > div p {
  font-size: 13px;
}

/* MY TURN */
.my-turn-div {
  padding: 0;
}

.my-turn-div img {
  width: 100%;
}

/* SGN-UP FORM */

.sign-up,
.sub-div {
  background-color: #f4f5f6;
}

.sign-up-div img,
.editors-pick-logo {
  background-color: #f72210;
  width: 20px;
  height: 20px;
}

.FREE-SIGN-UP {
  background-color: #f61602;
}

/* MAGAZINE  */

.magazine-section-logo {
  background-color: #f72210;
  width: 29px;
  height: 28px;
}

.cover {
  background-color: #f72210;
  display: inline-block;
}

.health {
  color: #f72210;
  display: inline-block;
}

/* EDITORS PICK */

.editors-pick-logo {
  background-color: #f72210;
  width: 29px;
  height: 28px;
}

.editors-pick-bg-img {
  background-image: url(./images/editors-pick-image.jpg);
  background-size: cover;
  background-position: center center;
  height: 390px;
}

.featured-stories h3 {
  font-size: 20px;
}

/* SUBSCRIBTION SECTION */
.sub-div {
  width: 98%;
}

.login,
.sub-div button,
.news-letter button {
  background-color: #f72210;
}

/* NEWS LETTER */
.news-letter {
  width: 90%;
}

.news-letter-input {
  padding: 0 35%;
}

/* FOOTER */
footer a {
  color: #666;
  font-size: 14px;
}

footer i {
  color: #666;
  width: 26px;
  height: 26px;
}

.social-media {
  border-bottom: 1px solid gray;
}

.social-media-icons {
  font-size: 25px;
}

.copyright {
  color: #666;
  font-size: 12px;
}

.footer-links-bottom {
  line-height: 2rem;
}

/* Tablet breakpoint 768px */
@media (min-width: 768px) {
  body {
    background-color: #fff;
  }

  .all-contents {
    width: 97%;
    margin: 0 auto;
  }

  /* TOPSTORIES */
  .featured-stories-div {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .featured-stories-bg-img {
    height: 210px;
    width: 100%;
  }

  .main-section-container,
  .the-debate {
    margin: 0;
    padding: 0;
  }

  .my-turn-grid,
  .my-turn-div-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

  /* magazine-section */
  .magazine-section-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }

  /* editors pick */
  .editors-pick-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .editors-pick-bg-img {
    height: 250px;
  }

  .sub-div {
    display: flex;
  }

  .sub-div-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    margin: auto;
  }

  .sub-div-content p {
    text-align: left;
  }

  .sub-btn {
    width: 30%;
  }

  /* news letter */

  .news-letter img {
    width: 100%;
    height: 254px;
  }

  .news-letter {
    width: 100%;
  }

  .news-letter-input {
    padding: 0 32%;
  }

  /* footer */
  .footer-info {
    border-bottom: 1px solid gray;
  }

  .social-media {
    border-bottom: none;
  }
}

/* Desktop breakpoint 992px */

@media (min-width: 992px) {
  main {
    width: 1300px;
    margin: 0 auto;
  }

  /* nav */
  .bottom-nav-links {
    color: #807f84;
  }

  header {
    height: 100px;
  }

  .weather-logo {
    width: 50px;
  }

  .newsweek-logo {
    height: 90px;
    width: 100%;
  }

  .nav-lg-middle {
    font-size: 19px;
  }

  /* main section */
  .top-stories-div .featured-stories-bg-img {
    height: 300px;
  }

  /* Opnion */

  .the-debate img,
  .opnion img {
    width: 60px;
    height: 80px;
  }

  /* the debate */
  .the-debate {
    height: 100px;
    margin-bottom: 380px;
  }

  /* EDITORS PICK  */

  .editors-pick-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }

  .editors-pick-bg-img {
    height: 180px;
  }

  /* Subscribe */
  .subscribe-newsletter-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1em;
  }

  .sub-btn {
    width: 70%;
  }

  /* Newsletter */

  .news-letter img {
    width: 100%;
    height: 254px;
  }

  .news-letter {
    width: 100%;
  }

  .news-letter-input {
    padding: 0 19%;
  }
}
