body {
  background-color: #f4f5f7;
}

.newsweek-logo {
  width: 132px;
  height: 20px;
}
header {
  background-color: #f72210;
  height: 50px;
}
.fa-user-alt,
.fa-bars {
  color: white;
  cursor: pointer;
}
.subscribe {
  border-radius: 30px;
}

/* MAIN SHOWCASE SECTION */
.img-fluid {
  width: 100%;
}

.featured-stories-heading {
  font-size: 22px;
  color: #000000;
}

.featured-stories-p {
  font-size: 13px;
  color: #333333;
}

.featured-stories-header {
  font-size: 16px;
  color: #03030366;
}

.featured-stories-bg-img {
  background-image: url(./images/anthony-fauci-deborah-birx-covid19-coronavirus-getty.jpg);
  background-size: cover;
  background-position: center center;
  height: 390px;
}

.featured-div-content {
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #f72210;
}

/* THE DEBATE */

.the-debate img {
  width: 100px;
}

.vs-debate {
  height: 50px;
}

.vs-sudo {
  text-align: center;
  left: 50%;
  top: -20%;
  background-color: #000;
  color: #d6d6d6;
}
.vs-sudo-hr {
  margin: 2px;
}

.the-debate-heading,
.legalizing {
  border-bottom: 3px solid grey;
}

/* OPNION */

.opnion img {
  width: 75px;
}
.opnion div {
  border-bottom: 1px solid grey;
}

.opnion div div {
  border-bottom: none;
}

/* More stories  */

.more-stories img {
  width: 95px;
  height: 95px;
}
.more-stories div {
  border-bottom: 1px solid grey;
}

.more-stories div div {
  border-bottom: none;
}

/* MY TURN */
.my-turn-div {
  padding: 0;
}
.my-turn-div img {
  width: 100%;
  
}

/* SGN-UP FORM */
.sign-up {
}

.sign-up-div img{
 background-color: #f72210;
 width: 20px;
 height: 20px;
}

/* Tablet breakpoint 768px */
/* Desktop breakpoint 992px */
